@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(http://themes.googleusercontent.com/static/fonts/armata/v3/w27wif_q95nkRqADjVBFpg.woff) format('woff');
}

#branding {
	z-index:99;
}

#dp_slider {
	* display:none; /* no display in <IE8 */
    display: none\9;
	position: fixed;
    top: 100px;
    left: -280px;
    z-index: 999;
    transition: left 0.5s ease-out 0s;
}
 
#dp_slider:hover {
    left: 0;
}

#dp_slider_content{
margin-left:-3px;
}

#dp_foto_inside{	
	position:relative;
	float:left;
	width: 283px;
	height:196px;
	margin-left: 0px;
	background-image: url('../images/hand.png');
	background-repeat:no-repeat;
	background-attachment:absolute;
	background-position:center;
	z-index: 999;
}

#dp_foto_outside{
	position:absolute;
	width: 94px;
	height:97px;
	margin-left:282px;
	margin-top:96px;
	background-image: url('../images/karta.png');
	background-repeat:no-repeat;
	background-attachment:absolute;
	background-position:center;
	z-index: 999;
}

#dp_slider_text{
	font-family: armata;
	color: #168acc;
	margin-top: 110px;
    border-right: 2px solid #168acc;
	border-bottom: 2px solid #168acc;
	border-bottom-right-radius: 10px;
	position:absolute;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 85px;
	background-image: url('../images/bg60.png');
	z-index: 20;
}

.dpsliderlogo{
	position:absolute;
	background-image: url('../images/logo-180.png');
	background-size:100%;
	background-repeat:no-repeat;
	width:80px;
	height:40px;
	margin-top:-42px;
	margin-left:65px;
}

.dp_l1{
font-weight: none;
font-size: 12px;
padding-bottom: 10px;
width:248px;
text-align: center;
z-index:21;
padding-top: 10px;
line-height: 1.5;
}

.dp_l1 a{
color:  #168acc;
text-decoration: none;
	z-index:999;
}

.dp_l1 a:hover{
color:  #168acc;
text-decoration: none;
	z-index:999;
}

.sliderbutton a{
z-index:21;
width:180px;
height:auto;
margin-top:5px;
margin-bottom:10px;
font-weight:bold;
margin-left:20px;
font-size: 14px;
padding:8px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
color:#fff;
display:block;
border-radius:4px;
background: #7abf26; /* Old browsers */
background: -moz-linear-gradient(top, #7abf26 0%, #a1d54f 50%, #80c217 51%, #7dc026 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abf26), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7dc026)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7abf26 0%,#a1d54f 50%,#80c217 51%,#7dc026 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7abf26 0%,#a1d54f 50%,#80c217 51%,#7dc026 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7abf26 0%,#a1d54f 50%,#80c217 51%,#7dc026 100%) !important; /* IE10+ */
background: linear-gradient(top, #7abf26 0%,#a1d54f 50%,#80c217 51%,#7dc026 100%) !important; /* W3C */
}

.sliderbutton a:visited{color:#fff;}

.sliderbutton a:hover {
	z-index:21;
color:#fff;
opacity:0.8;
text-decoration: none;
}